# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.rt.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MichalPC\Projekty\rt\.idea\.idea.rt.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
